<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image resizer</title>
</head>
<body>
    <div>
        <a href="{% url 'upload' %}">
            Загрузить изображение
        </a>
        <div>
            {% for image in images %}
            <div>
                <img height="50" src="{{ image.file.url }}" alt="image" />
                <a href="{% url 'show' image.hash %}">{{ image.hash }}</a>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>