<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image resizer</title>
</head>
<body>
    <div>
        <a href="{% url 'index' %}">
            На главную
        </a>
        <div>
            <img width="50%" src="{{ image.file.url }}" alt="image" />
        </div>
        <div>
            Размер {{ image.file.width }} x {{ image.file.height }}
        </div>
        <div>
            Размер файла {{ image.file.size }} байт
        </div>
        <div>
            <a download="{{ image.file.name }}"
               href="{{ image.file.url }}" target="_blank">
                Скачать
            </a>
        </div>
    </div>
</body>
</html>