<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image resizer</title>
</head>
<body>
    <div>
        <a href="{% url 'index' %}">
            На главную
        </a>
        <div>
            <form action="{% url 'upload' %}" method="POST"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                    {{ form.file.label_tag }}
                    {{ form.file }}
                </div>
                <div>
                    {{ form.url.label_tag }}
                    {{ form.url }}
                </div>
                <div>
                    <button type="submit">Добавить</button>
                </div>
                <div>
                    {% for error in form.non_field_errors %}
                        <div>
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                </div>
            </form>
        </div>
    </div>
</body>
</html>
